<%- layout("/layouts/boilerplate") %>

    <div class="row">
        <div class="col-8 mx-auto">
            <h1 class="display-3 text-center mb-5">Restaurants</h1>
            <div class="row row-cols-1 row-cols-xl-3 row-cols-lg-2 g-3">
                <% stores.forEach( (store, index)=> { %>
                    <div class="col-6">
                        <div class="card border-0 bg-light">
                            <a href="/delivery/stores/<%= store._id %>"><img src="<%= store.storeBrand %>"
                                    class="card-img-top" alt="..."></a>
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%= store.storeName %>
                                </h5>
                                <p class="card-text">Hours of Operation: <%= store.hours %>
                                </p>
                            </div>
                        </div>
                    </div>
                    <% }); %>
            </div>
        </div>
    </div>